<div class="view">
  <div class="container">
    <header>
      <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
    </header>
    <br/>
    <div class="container">
      <div class="row">
        <div class="col-md-2 glyphicon glyphicon-user"><strong> Developed by:</strong></div>
        <div class="col-md-10"><a href="https://www.linkedin.com/in/yacharenikrishnakanth/" target="_blank">Krishnakanth
          Yachareni</a></div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-2 glyphicon glyphicon-link"><strong> Website:</strong></div>
        <div class="col-md-10"><a href="http://blog.codewithdan.com" target="_blank">https://krishnakanthyachareni.github.io/personal-website</a>
        </div>
      </div>
      <br/>
      <div class="row ">
        <div class="col-md-2 glyphicon glyphicon-link"><strong> GitHub:</strong></div>
        <div class="col-md-10"><a href="https://github.com/KrishnakanthYachareni" target="_blank">https://github.com/KrishnakanthYachareni</a>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-2 glyphicon glyphicon-envelope"><strong> Mail:</strong></div>
        <div class="col-md-10"><a href="mailto:yacharenikrishnakanth@gmail.com" target="_blank">yacharenikrishnakanth@gmail.com</a>
        </div>
      </div>
    </div>
  </div>
</div>
